*{
    box-sizing: border-box;
    
}
html,body{
    /* background-image: url("backgroundImage.jpg"); */
    background-color: aliceblue;
    height: 100%;
    width:100%;
    margin:5px;
    display: flex;

    
}
.intro{
    flex: 50%;
    height: 100%;
   
    
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.info
{
    flex: 50%;
    height: 100%;
    margin: 5;
    padding: 5;
}

.info div{
    margin:5px;
    padding:5px;
}

.info ul{
    margin: 5px;
    padding: 15px;

}
.basic{
    background-color: #FFA500;
}
.likings{
    background-color: #DB7093;
}
.expert{
    background-color: #B0E0E6;
}
.aim{
    background-color: #00FF7F;
}