*{
    box-sizing: border-box;
    
}
html,body{
    background-image: url("backgroundImage.jpg");
    /* background-color: aliceblue; */
    height: 100%;
    width:100%;
    margin:5px;
    padding: 5px;
    display: flex;

    
}
.intro{
    flex: 50%;
    height: fit-content;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 10px;

}

.intro img{
    border-radius: 50%;
}

.info
{
    flex: 50%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.info div{
    margin:5px;
    padding:5px;
    border: 2px solid black;
    border-radius: 10px;
}

.info ul{
    margin: 5px;
    padding: 15px;

}
.basic{
    background-color: #FFA500;
}
.likings{
    background-color: #DB7093;
}
.expert{
    background-color: #B0E0E6;
}
.aim{
    background-color: #00FF7F;
}